.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    /* 배경에도 position이 걸려있어서 헤더가 덮어써짐 그래서 zindex로 올려줌 */
}

.header.on {
    background: rgba(0, 0, 0, 0.7);
}

.header .header_wrap {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0 80px;
}

/* 로고랑 숫자 길이를 똑같이줘서 메뉴를 가운데정렬했어 */
.header h1 {
    width: 220px;
}

/* 메뉴쓸때 자식선택자 적극사용 */
.gnb>ul {
    display: flex;
    gap: 40px;
}

.gnb a {
    display: block;
    white-space: nowrap;
    color: #fff;
    font-size: 18px;
}

.header .customer_link {
    width: 220px;
}

.header .customer_link a {
    display: block;
    white-space: nowrap;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
}


/* ---mainVisual--- */
.mainVisual {
    position: relative;
    z-index: 1;
    border-radius: 0 0 200px 0;
    overflow: hidden;
}

.mainVisual .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.mainVisual h2 {
    color: #fff;
    text-align: center;
    margin: 0 0 30px 0;
    text-shadow: 0 0 3px #000;
}

/* .mainVisual::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.3);
} */

.mainVisual h2 strong {
    display: block;
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: 100;
}

.mainVisual h2 span {
    display: block;
    font-size: 60px;
    font-weight: 700;
}

.mainVisual p {
    max-width: 400px;
    color: #fff;
    margin: 0 auto;
    font-size: 15px;
    text-shadow: 0 0 3px #000;
}

.mainVisual .mainSlide .itm01 {
    height: 100vh;
    filter: brightness(50%);
    background: url(../img/bg_intro01.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlide .itm02 {
    height: 100vh;
    filter: brightness(50%);
    background: url(../img/bg_intro02.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlide .itm03 {
    height: 100vh;
    filter: brightness(50%);
    background: url(../img/bg_intro03.jpg) no-repeat center center/cover;
}

.mainVisual .slick-dots {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
}

.mainVisual .slick-dots>li {
    display: inline-block;
    padding: 5px 0;
    cursor: pointer;
}

.mainVisual .slick-dots>li button {
    position: relative;
    width: 80px;
    height: 4px;
    background: #ddd;
    border-radius: 2px;
    margin: 0 2px;
    overflow: hidden;

    border: none;
    outline: none;
    font-size: 0;
}

.mainVisual .slick-dots>li button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff6347;
}

.mainVisual .slick-dots>li.slick-active button::after {
    transition: 3s;
    width: 100%;
}

/* 문제있는 코드 - li랑 button중에 누가 링크걸리나 */
/* .mainVisual .slick-dots button {
    display: none;
} */


.mainVisual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 1400px;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.mainVisual .arrows i {
    color: #fff;
    font-size: 30px;
    padding: 35px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0.5;
    cursor: pointer;
}

.mainVisual .arrows .left {
    position: absolute;
    top: 0;
    left: 0;
}

.mainVisual:hover .arrows .left {
    opacity: 0.8;
    transform: translate(30px, 0);
}

.mainVisual .arrows .right {
    position: absolute;
    top: 0;
    right: 0;
}

.mainVisual:hover .arrows .right {
    opacity: 0.8;
    transform: translate(-30px, 0);
}

.mainVisual .scroll {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
}

.mainVisual .scroll span {
    position: relative;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.mainVisual .scroll span::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    width: 1px;
    height: 100px;
    transform: translate(-50%, 0);
    background: rgba(255, 255, 255, 0.5);
}

.mainVisual .scroll span::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translate(-50%, 0);
    background: rgba(255, 255, 255, 1);
    animation: circle 3s infinite cubic-bezier(1, .2, .8, 1);
}

@keyframes circle {
    0% {
        transform: translate(-50%, 0);
        outline: 0 solid rgba(255, 255, 255, 1);
    }

    90% {
        outline: 0 solid rgba(255, 255, 255, 1);
    }

    100% {
        transform: translate(-50%, 100px);
        outline: 20px solid rgba(255, 255, 255, 0);
    }
}


/* ---mainContent--- */
.mainContent .tit {
    margin: 0 auto 30px auto;
    text-align: center;
}

.mainContent h2 strong {
    display: block;
    font-size: 14px;
    margin: 0 0 10px 0;
}

.mainContent h2 span {
    font-size: 40px;
    font-weight: 500;
    color: #866750;
}

.mainContent .inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.mainContent figure {
    text-align: center;
}

.mainContent .img_box {
    position: relative;
    margin: 0 0 20px 0;
    overflow: hidden;
    cursor: pointer;
}

.mainContent .img_box::after {
    content: attr(data-title);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 30px;
    color: #fff;
    background: #866750;
    text-align: center;
}

.mainContent .img_box img {
    transition: 1s;
}

.mainContent .img_box:hover img {
    transform: scale(1.1);
}

.mainContent .title {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 10px 0;
}


/* ---mainEvent--- */
.mainEvent {
    padding: 100px 0 400px 0;
    background: url(../img/bg_main2.jpg) no-repeat center center/cover;
}

.mainEvent h2 span {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    line-height: 43px;
}

.mainEvent .tit {
    margin: 0 auto 40px auto;
}


.mainEvent .inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.mainEvent .itm {
    padding: 40px 50px;
    background: rgba(134, 103, 80, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 30px;
}

.mainEvent .itm h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 28px;
    margin: 0 0 20px 0;
}

.mainEvent .itm p {
    font-size: 16px;
    font-weight: 300;
}

/* ---footer--- */
.footer {
    padding: 80px 0;
    font-size: 12px;
}

.footer ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 0 10px 0;
}

.footer ul>li {
    position: relative;
}

.footer ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(50%, -50%);
    width: 2px;
    height: 2px;
    background: #666;
}

.footer address {
    text-align: center;
    font-weight: 500;
}

.footer .title {
    position: relative;
    font-size: 40px;
    padding: 30px 0;
    text-align: center;
    color: #ddd;
    font-family: "Noto Serif KR";
    width: 1000px;
    margin: 0 auto;
}

.footer .title span {
    position: absolute;
    top: 0;
    left: 120px;
    display: block;
}

.footer .title span::after {
    content: "“카시아 속초는 대포항 앞바다와 바로 연결”";
    position: absolute;
    top: 0;
    left: 0;
    color: #333;

    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #999;
    /* transition: 2s;*/
    /* transition-timing-function: steps(20, end); */
    animation: tt 8s infinite steps(28, end);
}

.footer .title:hover span::after {
    width: 760px;
}

@keyframes tt {
    0% {
        width: 0;
    }

    50% {
        width: 760px;
    }

    100% {
        width: 0;
    }
}

.tbtn {
    display: inline-block;
    padding: 5px 0;
    width: 20px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    border: 1px solid #333;
    transition: 0.5s;
    cursor: pointer;
}

.tbtn:hover {
    width: 80px;
}